<html>
<head>
<title>jotain</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="<%- APP_PATH %>/app/style.css">
<script type="text/javascript">
	var APP_PATH = '<%- APP_PATH %>';
</script>
<script src="<%- APP_PATH %>/app/js/jquery-2.0.2.js"></script>
<script src="<%- APP_PATH %>/app/js/ejs.js"></script>
<script src="<%- APP_PATH %>/app/js/history.adapter.jquery.js"></script>
<script src="<%- APP_PATH %>/app/js/history.js"></script>

<script src="<%- APP_PATH %>/app/controllers/index.js"></script>
<script src="<%- APP_PATH %>/app/controllers/editor.js"></script>
<script src="<%- APP_PATH %>/app/controllers/login.js"></script>
<script src="<%- APP_PATH %>/app/controllers/register.js"></script>

<script src="<%- APP_PATH %>/app/js/template.js"></script>
<script src="<%- APP_PATH %>/app/language/<%- language %>.js"></script>
</head>
<body>

<div id="border">
	<div id="logo">
		<div id="topic">
			<h1><%= messages.browsergame %></h1>
		</div>
		<div id="login">
			<h5><a href="login" class="inner_link"><%= messages.login %></a></h5>
		</div>
	</div>
	<div id="container">
		<div id="navigation">
			<h2><%= messages.navigation %></h2>
			<ul>
				<li><a href="index" class="inner_link"><%= messages.index %></a></li>
				<li><a href="editor"  class="inner_link"><%= messages.editor %></a></li><% if (login) { %>
				<!--<li><a onclick="buildPage('logout')" href="?logout" class="inner_link"><%= messages.logout %></a></li>-->
				<% } else { %>
				<!--<li><a onclick="buildPage('login')" href="?login" class="inner_link"><%= messages.login %></a></li>-->
				<% } %>
			</ul>
		</div>
		<div id="content">
			<div id="main">
			<%- content %>
			</div>
			<div id="footer">
				2013 © Sanep & Zuip
			</div>
		</div>
	</div>
</div>

</body>
</html>