<html>
<head>
<title>jotain</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="<%- APP_PATH %>/media/style.css">
<link rel="stylesheet" type="text/css" href="<%- APP_PATH %>/media/jquery.contextMenu.css">
<link rel="stylesheet" type="text/css" href="<%- APP_PATH %>/media/jquery-ui-1.10.3.custom.css">
<script type="text/javascript">
	var APP_PATH = '<%- APP_PATH %>';
</script>
<script src="<%- APP_PATH %>/app/js/jquery-2.0.2.js"></script>
<script src="<%- APP_PATH %>/app/js/jquery.ui.position.js"></script>
<script src="<%- APP_PATH %>/app/js/jquery-ui-1.10.3.custom.js"></script>
<script src="<%- APP_PATH %>/app/js/jquery.contextMenu.js"></script>
<script src="<%- APP_PATH %>/app/js/jquerymx-3.2.custom.min.js"></script>
<script src="<%- APP_PATH %>/app/js/history.adapter.jquery.js"></script>
<script src="<%- APP_PATH %>/app/js/history.js"></script>
<script src="<%- APP_PATH %>/socket.io/socket.io.js"></script>

<script src="<%- APP_PATH %>/app/js/chat/chat.main.js"></script>
<script src="<%- APP_PATH %>/app/js/chat/chat.contextmenus.js"></script>
<script src="<%- APP_PATH %>/app/js/chat/chat.events.js"></script>
<script src="<%- APP_PATH %>/app/js/chat/chat.games.js"></script>
<script src="<%- APP_PATH %>/app/js/chat/chat.messages.js"></script>
<script src="<%- APP_PATH %>/app/js/chat/chat.tabs.js"></script>

<script src="<%- APP_PATH %>/app/controllers/index.js"></script>
<script src="<%- APP_PATH %>/app/controllers/editor.js"></script>
<script src="<%- APP_PATH %>/app/controllers/login.js"></script>
<script src="<%- APP_PATH %>/app/controllers/register.js"></script>
<script src="<%- APP_PATH %>/app/controllers/chat.js"></script>
<script src="<%- APP_PATH %>/app/controllers/game.js"></script>
<script src="<%- APP_PATH %>/app/controllers/logout.js"></script>

<script src="<%- APP_PATH %>/app/js/template.js"></script>
<script src="<%- APP_PATH %>/app/language/<%- language %>.js"></script>
</head>
<body>

<div id="border">
	<div id="logo">
		<div id="topic">
			<h1><%= messages.browsergame %></h1>
		</div>
		<div id="login">
			<%- logininfo %>
		</div>
	</div>
	<div id="container">
		<div id="navigation">
		<%- navigation %>
		</div>
		<div id="content">
			<div id="status"><%- status %></div>
			<div id="main">
			<%- content %>
			</div>
			<div id="footer">
				2013 © Sanep & Zuip
			</div>
		</div>
	</div>
</div>

</body>
</html>