<h3><%= messages.register %></h3>
<% if (data.regSuc == 1) { %>
<%= messages.registerSuccessful %>
<% } else if (data.regSuc == 2) { %>
<%= messages.passwordMismatch %>
<% } else { %>
<form action="register" method="post">
	<p><b><%= messages.username %>:</b><br />
	<input type="text" name="uname"><br />
	<b><%= messages.password %>:</b><br />
	<input type="password" name="pword"><br />
	<b><%= messages.repeat_password %>:</b><br />
	<input type="password" name="repword"><br /><br />
	<input type="submit" name="register" value="<%= messages.register %>">
</form>
<% } %>